<!DOCTYPE html>
<html>
<head>
    <%- include('partials/header') %>    
</head>
<body>

	<!-- Navbar -->
	<%- include('partials/navbar') %>

	<!-- Contenido -->
	<div>
		<div class="row">
			<% for(var i=0; i < abbr.length; i++){
                 titulo = abbr[i]
                 descripcion = nombre[i]
                 teacher = true %>
                <%- include('partials/card') %>
            <% } %>
		</div>
	</div>

	<!-- Action Button -->
	<%- include('partials/actionButton') %>

	<!-- Dialogo -->
	<dialog id="dialogoNew" style="width: 70%">
		<%- include('partials/formularioNuevo') %>
	</dialog>
	<!-- Script necesario para dialogo -->
	<%-include('partials/dialogControles') %>

</body>
</html>
